@{

    ViewData["Title"] = "Contact Us";
}




<h1> This is Contact us page</h1>
@section breadcrumb{

    <nav aria-label="breadcrumb">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>

    </nav>


}
